<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
{{- partial "head.html" .}}
<body>
    {{block "main" .}}
    {{end}}
    <footer>
        {{- if .IsPage}}
        <section>
            <span>Comments? <a href="https://twitter.com/intent/tweet?screen_name=tifandotme&url={{.Permalink | safeURL}}" target="blank">Tweet</a> or <a href="mailto:hello@tifan.me">email</a> me.</span>
            <span><a href="https://github.com/tifandotme/tifan.me/edit/main/content/{{.File.Path}}" target="_blank">Edit post</a></span>
        </section>
        {{- end}}
        {{if not .IsHome}}<a href="{{.Site.BaseURL}}">Home</a>{{end}}
        {{if .IsHome -}}
            <a href="{{.Site.BaseURL}}index.xml">{{- partial "icons/rss.html" . -}}</a>
        {{- else if .IsSection -}}
            {{- if eq .Section "tech" -}}
                <a href="{{.Site.BaseURL}}tech/index.xml">{{- partial "icons/rss.html" . -}}</a>
            {{- else if eq .Section "personal" -}}
                <a href="{{.Site.BaseURL}}personal/index.xml">{{- partial "icons/rss.html" . -}}</a>
            {{- end -}}
        {{end -}}
        <!-- for debugging
        Page Variables
        .Title = {{.Title}} <br>
        .Type = {{.Type}} <br>
        .Section = {{.Section}} <br>
        .FirstSection = {{.FirstSection}} <br>
        .Aliases = {{.Aliases}} <br>
        .BundleType = {{.BundleType}} <br>
        .Kind = {{.Kind}} <br>
        {{.RelPermalink}}
        -->
    </footer>
</body>
</html>