{{ define "main" }}

{{ partial "back.html" . }}

<article>
    <header class="list">
        {{ if .RegularPages }}
            <h1>{{ .Title }} Posts</h1>
        {{ else }}
            <h1>{{ .Title }}</h1>
        {{ end }}
    </header>

    {{ .Content }}

    {{ if .RegularPages }}
	    <nav>
	        {{ range .Pages.GroupByDate "2006" "asc" }}
	        <h2>{{ .Key }}</h2>
	        <ul>
	            {{ range .Pages.ByTitle }}
	            <li>
	                {{ .Date.Format "Jan 2" }} <a href="{{ .Permalink }}">{{ .Title | title }}</a>            
	            </li>
	            {{ end }}
	        </ul>
	        {{ end }}
	    </nav>
    {{ end }}
</article>

{{ end }}