{{ define "main" }}

{{ partial "back.html" . }}

<article>
    <header class="list">
        <h1 class="bare fluid">
            {{ if .RegularPages }}
                {{ .Title }} Posts
            {{ else }}
                {{ .Title }}
            {{ end }}
        </h1>
    </header>

    {{ .Content }}

    {{ if .RegularPages }}
	    <nav>
	        {{ range .Pages.GroupByDate "2006" "asc" }}
	        <h2>{{ .Key }}</h2>
	        <ul>
	            {{ range .Pages.ByTitle }}
	            <li>
	                {{ .Date.Format "Jan 2" }} <a href="{{ .Permalink }}">{{ .Title | title }}</a>            
	            </li>
	            {{ end }}
	        </ul>
	        {{ end }}
	    </nav>
    {{ end }}
</article>

{{ end }}