{{define "main" -}}
    {{partial "back-nav.html" .}}
    <article>
        <header class="single">
            <h1 class="bare fluid">{{.Title | title}}</h1>
            {{- if .Description}}
            <h3 aria-hidden="true">{{.Description}}</h3>
            {{end -}}
            <h4 aria-hidden="true">Published: {{dateFormat "Jan 2, 2006" .PublishDate}} / <span style="white-space: nowrap">Modified: {{dateFormat "Jan 2, 2006" .Lastmod}}</span></h4>
            <p>
            {{with .Params.techtags -}}
                {{if ge (len .) 1 -}}
                    {{range . -}}
                        <a href="{{$.Site.BaseURL}}tech/tags/{{. | urlize}}/">#{{.}}</a>&emsp;
                    {{- end}}
                {{- end}}
            {{end -}}
            {{- with .Params.personaltags -}}
                {{if ge (len .) 1 -}}
                    {{range . -}}
                        <a href="{{$.Site.BaseURL}}personal/tags/{{. | urlize}}/">#{{.}}</a>&emsp;
                    {{- end}}
                {{- end}}
            {{end -}}
            </p>
        </header>

        {{.Content}}
        <section class="closing">
            <span class="dot" aria-hidden="true">•</span>
            <span>Comments? Please <a href="https://twitter.com/intent/tweet?screen_name=tifandotme&url={{.Permalink | safeURL}}" target="blank">tweet</a> or <a href='javascript:location=`mailto:\u0074\u0069\u0066\u0061\u006e\u0040\u0070\u0072\u006f\u0074\u006f\u006e\u002e\u006d\u0065{{printf "?subject=Comment on: %s" (.Title | title)}}`;void 0'>email</a> me</span>
            <span><a href="https://github.com/tifandotme/tifan.me/edit/main/content/{{.File.Path}}" target="blank">Edit post</a></span>
        </section>
    </article>
{{- end}}