{{define "main" -}}
    {{partial "back-nav.html" .}}
    <article>
        <header class="list">
            <h1 class="bare fluid">
                {{- if .RegularPages -}}
                    Posts with {{.Title | title}} Tag
                {{- else -}}
                    All Tags
                {{- end -}}
            </h1>
        </header>

        <!-- print all tags horizontaly -->
        {{- if not .RegularPages}}
        <section style="text-align: center; margin-bottom: 10rem;">
            {{- range $name, $taxonomy := .Site.Taxonomies.tags}} {{$cnt := .Count}}
            {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
            <span style="margin: 0 .5em"><a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{$name}}</a><sup>{{$cnt}}</sup></span>
            {{- end -}}
            {{end}}
        </section>
        {{end -}}

        {{.Content}}

        {{partial "list-posts.html" .}}
    </article>
{{- end}}