<!--
used in:
_default/baseof.html
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="darkreader-lock"><!-- https://github.com/darkreader/darkreader/pull/9181 -->
    {{- if isset .Params "title"}}
    <title>{{.Title | title}} - {{replaceRE "^https?://([^/]+).*" "$1" .Site.BaseURL}}</title>
    {{else}}
    <title>{{.Title | title}}</title>
    {{end -}}
    <meta name="description" content="{{with .Param `description`}}{{.}}{{else}}{{.Summary}}{{end}}">
    <meta name="author" content="{{.Site.Params.Author}}">

    <meta property="og:title" content="{{.Title | title}}">
    <meta property="og:description" content="{{with .Param `description`}}{{.}}{{else}}{{.Summary}}{{end}}">
    <meta property="og:url" content="{{.Permalink}}">
    <meta property="og:type" content="{{if .IsHome}}website{{else}}article{{end}}">
    <meta property="og:site_name" content="tifan.me">
    <meta property="twitter:site" content="@tifandotme">
    <meta property="twitter:card" content="{{with .Param `description`}}{{.}}{{else}}{{.Summary}}{{end}}">

    {{- $style := resources.Get "/style.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{$style.Permalink}}" type="text/css" media="all">
    {{- $style := resources.Get "/syntax-highlighting.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{$style.Permalink}}" type="text/css" media="all">
    <link rel="icon" type="image/png" href="/favicon.png"><!-- <link rel="icon" type="image/png" href="data:image/png;base64,"> --> 
    {{range .AlternativeOutputFormats}}<!-- RSS-->
        {{- printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML}}
    {{end -}}
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>