<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
{{ if isset .Params "title" }}
    <title>{{ .Title | title }} - {{ replaceRE "^https?://([^/]+).*" "$1" .Site.BaseURL }}</title>
{{ else }}
    <title>{{ .Title }}</title>
{{ end }}
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
<link rel="icon" type="image/png" href="/favicon.png" />
{{ $style := resources.Get "/style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" media="all">
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
<!--
{{ template "_internal/google_analytics.html" . }}
<link rel="icon" type="image/png" href="data:image/png;base64,">
-->