<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
{{ if isset .Params "title" }}
    <title>{{ .Title }} - {{ replaceRE "^https?://([^/]+).*" "$1" .Site.BaseURL }}</title>
{{ else }}
    <title>{{ .Title }}</title>
{{ end }}
<!--<link rel="icon" type="image/png" href="data:image/png;base64,">  default favicon -->
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}