{{define "main" -}}
    <article>
        <p style="margin: 1.5rem 0 0">Hi! I'm <a href="/about"><strong>Tifan</strong></a>. An aspiring software developer living in Indonesia. Thank you for visiting my blog.</p>
        {{.Content -}}

        <nav class="latest-posts">
            <section>
                <h1>Latest Tech Posts</h1>
                <ol>
                    {{- range (first 10 (where .Site.RegularPages "Section" "=" "tech"))}}
                    <li><a href="{{.RelPermalink}}">{{.Title | title}}</a>{{if .Description}} &mdash; {{.Description | truncate 100}}{{end}}</li>
                    {{- end}}
                </ol>
                <span><a href="/tech">Show All Tech Posts</a></span>
            </section>
            <section>
                <h1>Latest Personal Posts</h1>
                <ol>
                    {{- range (first 10 (where .Site.RegularPages "Section" "=" "personal"))}}
                    <li><a href="{{.RelPermalink}}">{{.Title | title}}</a>{{if .Description}} &mdash; {{.Description | truncate 100}}{{end}}</li>
                    {{- end}}
                </ol>
                <span><a href="/personal">Show All Personal Posts</a></span>
            </section>
        </nav>

        <h1>Contact & Socials</h1>
        <ul class="social">
            <li><a href="javascript:location='mailto:\u0074\u0069\u0066\u0061\u006e\u0040\u0070\u0072\u006f\u0074\u006f\u006e\u002e\u006d\u0065';void 0">{{- partial "icons/email.html" . -}}<span><script type="text/javascript">document.write('\u0074\u0069\u0066\u0061\u006e\u0040\u0070\u0072\u006f\u0074\u006f\u006e\u002e\u006d\u0065')</script></span></a></li>
            <li><a href="https://github.com/tifandotme" target="_blank">{{- partial "icons/github.html" . -}}<span>GitHub</span></a></li>
            <li><a href="https://twitter.com/tifandotme" target="_blank">{{- partial "icons/twitter.html" . -}}<span>Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/tifandotme" target="_blank">{{- partial "icons/linkedin.html" . -}}<span>LinkedIn</span></a></li>
        </ul>
    </article>
{{- end}}
